html {
    font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color: #333;
    user-select: none;
    font-size: 13vw;
    font-family: 宋体;
}
.enFont {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {

    background-color: #fff;
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: #999;
}
img {
    vertical-align: top;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,ul,ol,dl,p,dd{
    margin-bottom:0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
.text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fl:after{
    content: "";
    display: block;
    clear:both;
}
.h-bg{
    background-image: linear-gradient(90deg,#0af,#0085ff);
}
.t9{
    transform: scale(.9);
}
.t8{
    transform: scale(.8);
}
.scroll-no::-webkit-scrollbar {
    display: none;
}

